

.table{
 
 table-layout:fixed;
 background-color:antiquewhite;
 text-align:center; 
 border: 5px solid ;
 max-width: 90%;
 max-height: 900px;
 margin-top: 1cm;
 margin-bottom: 1cm;
 margin-right: auto;
 margin-left: auto;
 

}

.SpanToShowData{
    font-weight: bold;
    color: #8B008B;
    font-size: larger;
}
.SwitchButton{
 width: 5%;
 margin-left:5cm;
 background-color: #8B008B;
 
}




