.home video{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.HomeDes {
   
    color: white;
    text-align:left;
    padding: 2cm ;
    margin: 15px;
    font-size: 2ch;
    background-color:hsla(120,100%,10%,0.6);
    width:45%;
    height: auto;

}
.Title {
    font-family: Lucida Console, Times , Monospace;
    color: white;
    font-size:large;
    font-weight: bold;

}

.Des {
    font-family: Lucida Console, Times , Monospace;
    color: white;
    
}